.fondo{background-color: rgb(44, 56, 57);
    color: white
}


/*{font-family: "Palatino"; text-align: justify; font-weight: bold;
    margin-top:20px; margin-right:10px; margin-bottom:10px; margin-left:10px;}